@namespace MudBlazor
@inherits MudComponentBase
@implements IAsyncDisposable

@if (Parent?.KeepPanelsAlive == true)
{
    <div @attributes="UserAttributes" class="@Classname" style="@Stylename">
        @ChildContent
    </div>
}
else
{
    @if (Parent?.ActivePanel == this)
    {
        @ChildContent
    }
}
