<div class="test-container1">
    <MudTextField T="string" Variant="Variant.Outlined" Label="Normal"></MudTextField>
</div>

<div class="test-container1">
    <MudTextField T="string" Variant="Variant.Outlined" Margin="Margin.Dense" Label="Dense"></MudTextField>
</div>

<div class="test-container2">
    <MudTextField T="string" Variant="Variant.Outlined" Label="Shrink Normal" ShrinkLabel="true"></MudTextField>
</div>

<div class="test-container2">
    <MudTextField T="string" Variant="Variant.Outlined" Label="Shrink Dense" ShrinkLabel="true"
                  Margin="Margin.Dense"></MudTextField>
</div>

<style>
    .test-container1 {
        padding: 20px;
        background-color: deepskyblue;
    }

    .test-container2 {
        background-color: deepskyblue;
    }
</style>