<div style="width: 50%">
    <MudTextField @bind-Value="TextValue" Label="ThisLabelIsVeryLongAndWillDestroyTheTextfieldIfItsActiveThisLabelIsVeryLongAndWillDestroyTheTextfieldIfItsActiveThisLabelIsVeryLongAndWillDestroyTheTextfieldIfItsActiveThisLabelIsVeryLongAndWillDestroyTheTextfieldIfItsActiveThisLabelIsVeryLongAndWillDestroyTheTextfieldIfItsActiveThisLabelIsVeryLongAndWillDestroyTheTextfieldIfItsActiveThisLabelIsVeryLongAndWillDestroyTheTextfieldIfItsActiveThisLabelIsVeryLongAndWillDestroyTheTextfieldIfItsActiveThisLabelIsVeryLongAndWillDestroyTheTextfieldIfItsActiveThisLabelIsVeryLongAndWillDestroyTheTextfieldIfItsActiveThisLabelIsVeryLongAndWillDestroyTheTextfieldIfItsActiveThisLabelIsVeryLongAndWillDestroyTheTextfieldIfItsActiveThisLabelIsVeryLongAndWillDestroyTheTextfieldIfItsActiveThisLabelIsVeryLongAndWillDestroyTheTextfieldIfItsActiveThisLabelIsVeryLongAndWillDestroyTheTextfieldIfItsActive" Variant="Variant.Outlined"></MudTextField>
</div>

@code {
    public string TextValue { get; set; } = "";
}