<div class="mud-codeblock">
    <div class="html">
<pre>
<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">PropertyGroup Condition=" '$(Configuration)' == 'Debug' "</span><span class="htmlTagDelimiter">&gt;</span>
        <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudAllowedAttributePattern</span><span class="htmlTagDelimiter">&gt;</span>LowerCase<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudAllowedAttributePattern</span><span class="htmlTagDelimiter">&gt;</span>
<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">PropertyGroup</span><span class="htmlTagDelimiter">&gt;</span>
</pre>
    </div>
</div>


<MudSimpleTable Elevation="0" Hover="true">
    <thead>
    <tr>
            <th>Option</th>
        <th>Description</th>
        <th>Default</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><CodeInline>LowerCase</CodeInline></td>
        <td>Only allow lower case attributes</td>
        <td><CodeInline>true</CodeInline></td>
    </tr>
        <tr>
            <td><CodeInline>HTMLAttributes</CodeInline></td>
            <td>
                Only allow a list of valid case sensitive HTML attributes and events including data-*, aria-* and role.
                The default list of attributes were mainly obtained from
                <MudLink Href="https://www.w3schools.com/tags/ref_attributes.asp">https://www.w3schools.com/tags/ref_attributes.asp</MudLink> 
                and <MudLink Href="https://www.w3schools.com/jsref/dom_obj_event.asp">https://www.w3schools.com/jsref/dom_obj_event.asp</MudLink> 
            </td>
            <td></td>
        </tr>
    <tr>
        <td><CodeInline>DataAndAria</CodeInline></td>
            <td>Only allow case sensitive data-*, aria-* and role attributes</td>
        <td></td>
    </tr>
    <tr>
        <td><CodeInline>None</CodeInline></td>
        <td>Don't allow any additional attributes</td>
        <td></td>
    </tr>
    <tr>
        <td><CodeInline>Any</CodeInline></td>
        <td>Allows any extra attributes in any case</td>
        <td></td>
    </tr>
    
    </tbody>
</MudSimpleTable>