<div class="mud-codeblock">
    <div class="html">
<pre>
<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">PropertyGroup Condition=" '$(Configuration)' == 'Debug' "</span><span class="htmlTagDelimiter">&gt;</span>
        <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudAllowedAttributeList</span><span class="htmlTagDelimiter">&gt;</span>attribute1,attribute2<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudAllowedAttributeList</span><span class="htmlTagDelimiter">&gt;</span>
<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">PropertyGroup</span><span class="htmlTagDelimiter">&gt;</span>
</pre>
    </div>
</div>